{% extends 'admin/base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1>WELCOME {{ current_user.name }} TO ADMINISTRATION WEBSITE!!</h1>
{% else %}
<h1 class="text-center text-danger">ĐĂNG NHẬP QUẢN TRỊ</h1>
<form method="post" action="{{ url_for('signin_admin') }}">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nhập username..." required>
    </div>
    <div class="form-group">
        <label for="pass">Mật khẩu</label>
        <input type="password" class="form-control" id="pass" name="password" placeholder="Nhập mật khẩu..." required>
    </div>
    <input type="submit" value="Đăng nhập" class="btn btn-danger">
</form>
{% endif %}
{% endblock %}