{% extends 'layout/base.html' %}

{% block title %} ADMINISTRATION {% endblock %}

{% block header %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#"></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
{% endblock %}
{% block content %}
<h1 class="text-center text-danger">ĐĂNG NHẬP QUẢN TRỊ</h1>
<form method="post" action="{{ url_for('signin_admin') }}">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nhập username..." required>
    </div>
    <div class="form-group">
        <label for="pass">Mật khẩu</label>
        <input type="password" class="form-control" id="pass" name="password" placeholder="Nhập mật khẩu..." required>
    </div>
    <input type="submit" value="Đăng nhập" class="btn btn-danger">
</form>
{% endblock %}