{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}

{% block content %}
<h1>
    Chao mung den website ban hang truc tuyen
</h1>
<ul>

    {% if pages > 1 %}
    <ul class="pagination">
        {% for idx in range(1, pages + 1) %}
        <li class="page-item"><a class="page-link" href="{{ url_for('home', page=idx) }}">{{ idx }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        {% if products %}
        {% for p in products %}
        <div class="col-md-3 col-xs-12">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename=p.image) }}" alt="p.name">
                <div class="card-body">
                    <h4 class="card-title">{{ p.pro_name }}</h4>
                    <p class="card-text">{{ p.price }} VND</p>
                    <a href="#" class="btn btn-primary" onclick="addToCart('{{ p.id }}', '{{ p.pro_name }}', '{{ p.price }}')">Đặt hàng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p><i>Không có sản phẩm nào</i></p>
    {% endif %}

</ul>
{% endblock %}