<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
</head>
<body>
    <h1>
        Danh muc san pham
    </h1>
    <table>
        <tr>
            <th></th>
            <th>Ma san pham</th>
            <th>Ten san pham</th>
            <th>Mo ta</th>
            <th>Gia ban</th>
        </tr>
        {% for p in products %}
        <tr>
            <td>
                <img src="{{ url_for('static', filename=p.image) }}" width="120" alt="p.name">{{ p.image }}
            </td>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.price }} VND</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>